<header>
    <div class="logo">
    <img src="img/logo.png" alt="">
    </div>
    <h1 class="principal-title">Mime</h1>
</header>
<nav class="topnav navbar-expand-xl" id="navbarNav" style="border-bottom: 1px solid rgba(121, 121, 121, 0.5);">
    <div class="container">
        <div class="">
            <ul class="navbar-nav ml-xl-5 mr-auto">
                <li class="nav-item">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/populares" routerLinkActive="active">Populares</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/videos" routerLinkActive="active">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/imagenes" routerLinkActive="active">Imagenes</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <ng-container *ngIf="!authService.loggedIn(); else loggedIn" >
                </ng-container>
                <ng-template #loggedIn>
                    <li class="nav-item" >
                        <a class="nav-link" routerLink="/post/uploads" routerLinkActive="active">Subir Contenido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="authService.logout()">Salir</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>