<nav class="navbar navbar-expand-xl navbar-dark bg-dark" style="border-bottom: 1px solid rgba(121, 121, 121, 0.5);">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="" width="40" height="40" class="d-inline-block align-top" alt="">
            Mimevideo
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-xl-5 mr-auto">
                <li class="nav-item">
                <a class="nav-link" routerLink="/new" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/populares" routerLinkActive="active">Populares</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/post" routerLinkActive="active">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Comics" routerLinkActive="active">Imagenes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/nude" routerLinkActive="active">Top</a>
                </li>   
            </ul>
            <div class="ml-auto">
                <h5 ><a style="color: #FFF; font-weight: bold;" href="#">Disfruta nuevos videos todos los viernes</a></h5>
            </div>
        

        <!--
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active">Crear Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active">Signin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active">Signup</a>
            </li>
            </ul>
        -->
        
        </div>
    </div>
  </nav>