<div class="row" *ngIf="!post; else main_content">
    <h1>Loading...</h1>
</div>

<ng-template #main_content>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="" *ngFor="let image of images">
                    <img class="card-img-top" [src]="URL+'/'+image" />
                </div>
                <h1>{{post.title}}</h1>
                <p>{{post.description}}</p>
                <div class="col-md-7">
                    <div class="card">
                        <form action=""></form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Mas contenido</h1>
            </div>
        </div>
        <br>
        <div>
            <!-- <h2>Videos Relacionados</h2>
            <app-buttonbar></app-buttonbar> -->
        </div>
    </div>
</ng-template>
